<style>
img {
    max-width: 20%;
    max-height: 20%;
}

.center-div
{
     margin: 0 auto;
     width: 800px; 
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.pass {
	background-color: #93ca3b;
	margin-left: 2px;
}

.fail {
	background-color: ff0030;
	margin-left: 2px;
}
</style>
<html>
	<head>
	 <meta http-equiv="refresh" content="30">
	</head>
	<body>
		<div class="center-div">
			<h1 align=center>External Monitor</h1>
			<div class="wrapper", align=center>
				{% for endpoint in endpoints if endpoint.boolean == 'True' and endpoint.value is none%}
	 			<div class="pass" style="width:200px;height:200px;border:1px solid #000;"><h1>{{endpoint.endpoint}}</h1><img src="/static/happy.png"></div>
				{% endfor %}
				{% for endpoint in endpoints if endpoint.value is defined and endpoint.value is not none%}
                                <div class="pass" style="width:200px;height:200px;border:1px solid #000;"><h1>{{endpoint.endpoint}}</h1><p><h1>{{endpoint.value}}</h1><img src="/static/happy.png"></div>
                                {% endfor %}
				{% for endpoint in endpoints if endpoint.boolean == 'False' and endpoint.value is none%}
	 			<div class="fail" style="width:200px;height:200px;border:1px solid #000;"><h1>{{endpoint.endpoint}}</h1><p> </p><img src="/static/angry.png"></div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>

